<div class="row">
  <div class="col-xs-12 col-sm-8 activity-box">
    <div class="well well-lg">
      <div class="activity-title">
        <h1><%= @activity.title %></h1>
        <hr>
      </div>
      <div class="activity-details">
        <ul class="listing no-padding">
          <li><%= @activity.user.name  %></li>
          <hr>
          <li><%= @activity.description %></li>
          <li><%= @activity.max_participants %></i
        </ul>
      </div>
    </div>
  </div>
  
  <%= render 'orders/form', activity: @activity %>
</div>